.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.divbutton {
  width: 90%;
}

.addbutton {
  padding: 10px;
  background: #FFD529;
  color: black;
}

.addbutton:hover {
  padding: 12px;
  background: #FFCC00;
  color: black;
}

.inputbutton {
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 4px;
  margin-top: 15px;
}

.inputbutton:hover {
  background-color: green;
  color: white;
  padding: 6px;
}

.addformbox {
  background-color: RGB(0,0,0,.9);
  width: 340px;
  margin: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  height: 15em;
  border-radius: 19px;
  padding-left: 20px;
  padding-top: 15px;
}


.editformbox {
  margin: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 15em;
  border-radius: 19px;
  text-align: left;
  padding-left: 20px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 125px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
}

.forminput {
  border-radius: 10px;
  margin: .09em;
  display: inline-block;
  float: left;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  margin-top: 0px;
}

.card {
  border: 2px black solid;
  border-radius: 15px;
  background-color: white;
  width: 20em;
  margin-top: 10px;
}

.map {
  object-fit: contain;
}

.header {
  position: static;
  top: 100px;
  font-family: 'Rubik Puddles', cursive;
  font-size: 75px;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
  margin-top: 350px;

}

button {
  border-radius: 25px;
  margin: 10px;
  background-color: black;
  color: white;
  padding: 4px;
  font-family: 'Comfortaa', cursive;
}

.showhide {
  display: none;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
}

body {
  text-align: center;
  background-color: white;
  z-index: -5;
  margin: auto;
}

button:hover {
  background-color: #FFCC00;
  color: black;
  padding: 6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
